In [1]:
import pandas as pd
import numpy as np

In [9]:
sd = pd.Series([1,2,3,4,5])
sd

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
list(sd)

[1, 2, 3, 4, 5]

In [11]:
sd2 = pd.Series({'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800})
sd2

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [25]:
arr1 = np.array([1,2,4,6,3,6,9])

In [26]:
arr1

array([1, 2, 4, 6, 3, 6, 9])

In [28]:
np_series = pd.Series(arr1)
np_series

0    1
1    2
2    4
3    6
4    3
5    6
6    9
dtype: int32

In [32]:
s3 = pd.Series([1,4,'python', 100,30.0,50])
s3

0         1
1         4
2    python
3       100
4        30
5        50
dtype: object

In [36]:
new_s3 = pd.to_numeric(s3,errors='coerce')
new_s3

0      1.0
1      4.0
2      NaN
3    100.0
4     30.0
5     50.0
dtype: float64

In [38]:

data = {'col1': [1,2,3,4,7,11],
        'col2': [4,5,6,9,5,0],
        'col3': [7,5,8,12,1,11]}
df1 = pd.DataFrame(data)
df1

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [41]:
type(df1)

pandas.core.frame.DataFrame

In [44]:
ds = df1['col1']
to_ser = pd.Series(ds)
to_ser

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [47]:
type(to_ser)

pandas.core.series.Series

In [2]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [3]:
dfp = pd.DataFrame(people)

In [4]:
dfp

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [5]:
dfp['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [14]:
dfp.set_index('email',inplace=True)

In [7]:
dfp.columns

Index(['first', 'last', 'email'], dtype='object')

In [8]:
dfp.index

RangeIndex(start=0, stop=3, step=1)

In [21]:
dfp

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [17]:
dfp.loc['JaneDoe@email.com']

first    Jane
last      Doe
Name: JaneDoe@email.com, dtype: object

In [16]:
dfp.loc['CoreyMSchafer@gmail.com', 'last']

'Schafer'

In [23]:
dfp.iloc[[1],1]

email
JaneDoe@email.com    Doe
Name: last, dtype: object